<header class="flex justify-between items-center p-4 pt-5 w-full">
    <div class="flex-shrink-0">
        <h1 class="text-2xl font-bold">Stock Market & Budgeting</h1>
    </div>
    <div class="flex items-center gap-4 relative cursor-pointer" (click)="toggleDropdown()">
        <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>

        <span>Welcome, User!</span>
        <img src="assets/user.png" alt="User Image" class="w-10 h-10 rounded-full border-2 border-black">

        <div *ngIf="showDropdown" class="absolute top-full right-0 mt-4 w-48 border border-gray rounded-md shadow-lg">
            <ul class="py-1">
                <li>
                    <a class="block px-4 py-2">Settings</a>
                </li>
                <li>
                    <a class="block px-4 py-2">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</header>