<nav class="w-64 h-screen bg-black text-white p-10 fixed top-0 left-0 flex flex-col">
    <div class="mb-10 flex justify-center">
        <img src="assets/images/image1.png" alt="Logo" class="w-20 h-20 object-contain">
    </div>


    <ul class="flex flex-col space-y-12 justify-center">
        <li>
            <h1 
                (click)="navigateTo('/dashboard')"  
                class="block px-2 py-1 hover:bg-gray-700 rounded text-lg cursor-pointer">Dashboard</h1>
        </li>
        <li>
            <h1 class="block px-2 py-1 hover:bg-gray-700 rounded text-lg">Stock Market</h1>
        </li>
        <li>
            <h1 class="block px-2 py-1 hover:bg-gray-700 rounded text-lg">Budget Plan</h1>
        </li>
        <li>
            <h1 class="block px-2 py-1 hover:bg-gray-700 rounded text-lg">Learn to Invest</h1>
        </li>
        <li>
            <h1 class="block px-2 py-1 hover:bg-gray-700 rounded text-lg">News</h1>
        </li>
    </ul>
</nav>